<p id="notice"><%= notice %></p>

<!--hero section -->
<div class="hero vh-50 d-flex align-center" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mx-auto text-center">
        <h1>皆さんの近況</h1>
        <p>最近あった共有したい写真をアップしましょう。</p>
        <button class="btn btn-info ms-3"><%= link_to '投稿する', new_blog_path %></button>
      </div>
    </div>
  </div>
</div>

<!-- Photo section -->
<section id="pictures">
  <div class=" row">
    <% @blogs.each do |blog| %>
      <div class="col-lg-4 col-sm-6">
        <div class="picture mt-4 card-effect">
          <h5><%= blog.title %></h5>
          <p><%= image_tag blog.image.url if blog.image.present? %></p>
          <p><%= blog.content %></p>
          <p><%= blog.user.name %></p>
          <table>
            <tbody>
              <tr>
                <% if blog.user == current_user %>
                  <td><%= link_to '確認', blog %></td>
                  <td><%= link_to "編集", edit_blog_path(blog) %></td>
                  <td><%= link_to "削除", blog_path(blog), method: :delete %></td>
                <% else %>
                  <td><%= link_to '確認', blog %></td>
                  <td></td>
                  <td></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</section>