<section id="account">
  <div class=" row">
    <% @blogs.each do |blog| %>
      <div class="col-lg-4 col-sm-6">
        <div class="picture mt-4 card-effect">
          <h5><%= blog.title %></h5>
          <p><%= image_tag blog.image.url if blog.image.present? %></p>
          <p><%= blog.content %></p>
          <p><%= blog.user.name %></p>
          <table>
            <tbody>
              <tr>
                <% if blog.user == current_user %>
                  <td><%= link_to '確認', blog %></td>
                  <td><%= link_to "編集", edit_blog_path(blog) %></td>
                  <td><%= link_to "削除", blog_path(blog), method: :delete %></td>
                <% else %>
                  <td><%= link_to '確認', blog %></td>
                  <td></td>
                  <td></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</section>

<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

<div class="field">
  <%= form.label :image %>
  <%= form.file_field :image %>
</div>

  <div class="field">
    <%= form.label :profile %>
    <%= form.text_field :profile %>
  </div>

  <div class="field">
    <%= form.label :profile_image_id %>
    <%= form.text_field :profile_image_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
